.forum-default-index {
    .e-at, .e-by {
        font-style: italic;
        color: darkgrey;
        font-size: 10pt;
    }
    .e-create {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: right;
    }

    .big-link {
        text-decoration: none;

    }
    .b-topic-row {
        @col-avatar-width: 85px;

        margin-bottom: 15px;
        &:after {
            .after-clearfix;
        }

        .b-col-avatar {
            float: left;
            width: @col-avatar-width + 5;
        }
        .b-col-context {
            @stat-col-width: 100px;
            margin-left: @col-avatar-width;
            cursor: pointer;
            background: #fff;
            border-radius: 5px;
            border: 1px solid #dcdcdc;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .06);
            padding: 20px 25px;
            &:hover {
                background: #F0F0F0;
            }

            .b-col-comment {
                margin-right: @stat-col-width;

                .b-title {
                    color: #2567c0;
                    font-size: 14pt;
                    overflow: hidden;
                    white-space: nowrap;
                    word-wrap: normal;
                    text-overflow: ellipsis;

                }
                .b-comment {
                    white-space: pre-wrap;
                    font-style: italic;
                    color : black;
                    font-size : 10pt;


                }
            }
            .b-col-stats {
                width: @stat-col-width;
                float: right;

                .b-stat {
                    float: left;
                    width: @stat-col-width / 2;
                    color: darkgrey;
                    font-size: 10pt;
                    text-align: center;
                    &.m-new {
                        color: red;
                    }

                    .e-stat-val {
                        font-weight: bold;
                    }
                    .e-stat-title {

                    }
                }
            }

            .b-col-last {
                float: right;

            }
        }
    }

}



.forum-default-view {

    .b-comment-row {
        margin-bottom: 15px;
        @col-avatar-width : 85px;
        @col-comment-padding : 20px;
        &:after {
            .after-clearfix;
        }

        .b-col-back {
            float:  left;
            width: @col-avatar-width;
        }
        .b-col-title{
            margin-left: @col-avatar-width;
            color: #2567c0;
        }
        .b-col-avatar {
            float: left;
            width: @col-avatar-width + 5;
            .b-stat {
                color: darkgrey;
                font-size: 10pt;
                text-align: center;
                width: 100%;
                .e-stat-val {
                    font-weight: bold;
                }
            }
        }
        .b-col-comment {
            margin-left: @col-avatar-width;
            background: #fff;
            border-radius: 5px;
            border: 1px solid #dcdcdc;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .06);
            padding: @col-comment-padding @col-comment-padding;

            .e-comment-title {
                color : #c44512;
                font-size: 14pt;
            }
            .e-comment-content {
                font-style: italic;
                white-space: pre-wrap;
            }
            .e-at{
                font-style: italic;
                color: darkgrey;
                font-size: 10pt;
                margin-top: 5px;
            }
        }

        .b-col-input {

            margin-left: @col-avatar-width;
            padding: 0 @col-comment-padding;
        }
        .b-col-label {
            float: left;
            width: @col-avatar-width;
        }
        .b-save-buttons {
            text-align: right;
            padding-right: @col-comment-padding;
        }
    }

}
.forum-default-create {

    @col-label-width : 150px;
    .b-col-input {

        margin-left: @col-label-width;
    }
    .b-col-label {
        padding-right: 20px;
        float: left;
        width: @col-label-width;
    }
    .b-save-buttons {
        text-align: right;
    }

}
